.profile {
  display: flex;
  margin: 40px 0 50px;
}

.profile__avatar {
  max-width: 168.75px;
  border-radius: 50%;
}

.profile__info {
  max-width: 415px;
  margin: 22px 0 21px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.profile__info-container {
  display: flex;
  align-items: center;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  max-width: 373px;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-image: url(../images/editbutton.svg);
  background-repeat: no-repeat;
  background-color: #000;
  width: 24px;
  border: 0;
  height: 24px;
  cursor: pointer;
  margin: 30px 0 0 18px;
}

.profile__info--container-button:hover {
  opacity: 0.6;
}

.profile__about {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  max-width: 415px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background-image: url(../images/addbutton.png);
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: #000;
  width: 150px;
  border: 0;
  height: 50px;
  margin: auto;
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin: 42px 0 36px;
  }
  .profile__info {
    align-items: center;
    margin: auto;
  }
  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    margin-top: 30px;
  }
  .profile__edit-button {
    margin: 4px 0 0 10px;
  }
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 36px;
  }
  .profile__add-button {
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin: 42px 0 36px;
  }
  .profile__add-button {
    margin: auto;
  }
}
